<!DOCTYPE html>
<html>
</head>
    <title>{% block title %}The Great Django Blog{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <script src="{% static 'blog/js/jquery.js' %}"></script>
</head>
<body>  

    <div class="navbar">
        <div class="section-inner clearfix">
            <nav>
                <a href="/">Elad's Django Blog</a>
                <a href="{% url 'contact' %}">Contact</a>
                <a href="{% url 'about' %}">About</a>
            </nav>
            <div class="right-nav">
                {% if user.is_authenticated %}
                    <span class="username">{{ user.username}} </span> | <a class="logout" href="{% url 'blog_logout' %}">Logout</a>
                {% else %}
                    <span class="username">Hello guest</span> | <a class="login-register" href="{% url 'blog_login' %}">Login</a> | <a class="login-register" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
        </div>
    </div>

    {% block content %}

    {% endblock %}

    {% block footer %}

    <div class="footer">
        <div class="section-inner clearfix">
            <hr>
            <p>&copy; Elad's Django Blog</p>
        </div>
    </div>

    {% endblock %}

</body>
</html>