<!DOCTYPE html>
<html>
</head>
    <title>{% block title %}The Great Django Blog{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <script src="{% static 'blog/js/jquery.js' %}"></script>
</head>
<body>  

    <div class="navbar">
        <div class="section-inner clearfix">
            <nav>
                <a href="/">The Great Django Blog</a>
                <a href="{% url 'contact' %}">Contact</a>
                <a href="{% url 'about' %}">About</a>
             <!--   <a href="#">Career</a> -->
            </nav>
            <div class="right-nav">
                {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Register</a>
                {% else %}
                    <a href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>

    {% block content %}

    {% endblock %}

    {% block footer %}

    <div class="footer">
        <div class="section-inner clearfix">
            <hr>
            <p>&copy; The Great Django Footer</p>
        </div>
    </div>

    {% endblock %}

</body>
</html>